*{
    box-sizing: border-box;
}

body{
    background-color: #111;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 35vh 50vh 10vh;
    align-items: center;
    justify-items: center;
}

header {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0;
    background-color: whitesmoke;
    color: #111;
    grid-column: 1/-1;
}




.school{
    width: 100%;
    text-align: center;
    font-size: 6em;
    font-family: 'Schoolbell', Geneva, Tahoma, sans-serif;
    padding: 0;
 
}

.visitor{
    text-align: center;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: -40px;

}



.logo {
    float: left;
    margin-top: 0;
    margin-bottom: -20px;
}

#date{
    font-size: 1.5em;
}

#time{
    font-size: 1.5em;
}

/*Check In Page*/


.checkInPage {
    margin-top: 10vh;
    background-color: whitesmoke;
    width: 40vw;
    height: 40vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 33fr 66fr;
    grid-template-rows: auto;
    justify-items: stretch;
    align-items: center;
}

.visit{
    font-size: 5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.chosen {
    width: 100%;
    
}

.chosen-container{
    width: 100%;
    height:35px !important;
    font-size: 16px !important;
}

datalist{
    width: 100%;
}

input[type=text] {
    width: 100%;
    height:35px;
    padding:5px;
    margin-bottom:5px;
    margin-top:5px;
    background: none;
    border:none;
    border-bottom: 1px solid black;
    color:#4f4f4f;
    font-size:16px;
    border-radius:5px
    }



textarea[type=text] {
    width: 100%;
    height:50px;
    padding:5px;
    margin-bottom:0px;
    margin-top:5px;
    background: none;
    border:none;
    border-bottom: 1px solid black;
    color:#4f4f4f;
    font-size:16px;
    border-radius:5px 
}


.submit{
    float: right;
    width: 25%;
    font-size:16px;
    background:linear-gradient(#6da7dd 5%,#156aba 100%);
    border:1px solid #156aba;
    color:#111;
    font-weight:700;
    cursor:pointer;
    border-radius:5px;
    margin-top: 10px;
    padding:10px 0;
    outline:none;
    }

.backButton{
    width: 25%;
    font-size:16px;
    background:linear-gradient(#6da7dd 5%,#156aba 100%);
    border:1px solid #156aba;
    color:#111;
    font-weight:700;
    cursor:pointer;
    border-radius:5px;
    margin-top: 10px;
    padding:10px 0;
    outline:none;
}



.checkOut>input {margin-top:15px; height:30px}


.back {
    background-color: transparent;
    border: none;
    position: absolute;
}

.backLink {
text-decoration: none;
    color: whitesmoke;

}

/*Footer*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    padding: 0;
    background-color: whitesmoke;

}

#admin {
    text-align: center;
    background-color: #111;
    color: whitesmoke;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid whitesmoke;
}

#admin > a {
    background-color: #111;
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 10;
}

#help {
    text-align: center;
    background-color: #111;
    color: whitesmoke;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid whitesmoke;
}

#help > a {
    background-color: #111;
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.help{
    float: right;
    clear: left;
    margin-top: 0;
}

#help > a > img {
    padding-left: 3px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 5px 0 5px 0;
    position: absolute;
    width: 100%;
    clear: right;
    text-align: center;
}

/*Check Out*/
.out{
    font-size: 3em;
    text-align: center;
    margin-top: -50px;
}
