*{
    box-sizing: border-box;
}

body{
    background-color: #111;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    grid-template-rows: 35vh 50vh 10vh;
    align-items: center;
    
}

header {
    width: 100%;
    margin: 0 auto;
    height: 375px;
    padding: 0;
    background-color: whitesmoke;
    color: #111;
    grid-column: 1/-1;
}

.chosen {
    width: 25%;
    
}

.chosen-container{
    height:35px !important;
    font-size: 16px !important;
}

.welcome{
    font-family: 'Rouge Script', Geneva, Tahoma, sans-serif;
    font-size: 10em;
    margin-top: 0;
    margin-left: 25px;
    margin-bottom: 0;
}

.school{
    width: 100%;
    text-align: center;
    font-size: 90px;
    font-family: 'Schoolbell', Geneva, Tahoma, sans-serif;
    margin-top: -70px;
    padding: 0;
    position: absolute;
    display: inline-block;
    
}

.visitor{
    text-align: center;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: -40px;

}

.logo{
    float: right;
    clear: left;
    margin-top: 0;
    margin-right: 50px;
}



main{
    background-color: #111;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 50vw 50vw;
}



.checkInButton {
    margin-top: 10vh;
    text-align: center;
    height: 100px;
    width: 250px;
    text-decoration: none;
    background-color: #E8E8E8;
    background-size: 100%, 100%, 100%, 4px 4px;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    color: #3A474D;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

.checkInButton span{
    text-align: center;
    line-height: 2.4;
}
.checkInButton:hover {
    color: #156aba;
    text-shadow: 0px -1px #07214c;
    cursor: pointer;
}

.checkInButton:active {
    transform: scale(.90);
}



.checkOutButton {
    margin-top: 10vh;
    text-align: center;
    height: 100px;
    width: 250px;
    text-decoration: none;
    background-color: #E8E8E8;
    background-size: 100%, 100%, 100%, 4px 4px;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    color: #3A474D;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-shadow: 0px 1px #fff, 0px -1px #262F33;
    
}

.checkOutButton span{
    text-align: center;
    line-height: 2.4;
}

.checkOutButton:active {
    transform: scale(.90);
}

.checkOutButton:hover {
    color: #156aba;
    text-shadow: 0px -1px #07214c;
    cursor: pointer;
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    padding: 0;
    background-color: whitesmoke;

}

#admin {
    text-align: center;
    background-color: #111;
    color: whitesmoke;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid whitesmoke;
}

#admin > a {
    background-color: #111;
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 10;
}

#help {
    text-align: center;
    background-color: #111;
    color: whitesmoke;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid whitesmoke;
}

#help > a {
    background-color: #111;
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.help{
    float: right;
    clear: left;
    margin-top: 0;
}

#help > a > img {
    padding-left: 3px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 5px 0 5px 0;
    position: absolute;
    width: 100%;
    clear: right;
    text-align: center;
}


