* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  text-align: center;
}
body {
  background-color: #575757;
}

h1 {
  color: #111111;
  position: relative;
  margin-bottom: 15px;
  font-size: 20px;
}

h1:hover {
  color: white;
  background-color:#111111;
  }

.container {
  background-image: linear-gradient(red, yellow);
  box-shadow: -10px -10px .4em black;
  width: 90%;
  height: 1000px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-size: 20px;
  position: relative;
}

.row{
  width: 100%;
}

p {
  font-size: 20px;
  text-align: center;
  margin: 10px;
  border: 1px dotted black;
  display: inline-block;
  background-image: linear-gradient(red, yellow);
  box-shadow: -5px -5px .4em black;
}


#div1 {
  background-color: #BEBEBE;
  box-shadow: -5px -5px .4em black;
  padding: 5px;
  height: auto;
}

 .chicken {
  position: relative;
  color: black;
  float: left;
  padding: 0;
  margin: 7px;
  top: 0;
  text-shadow: 1px 1px 1px #111111;
}
.chicken:hover {
  background-color: black;
  color: white;
}


#div2 {
  background-color: #828282;
  box-shadow: -5px -5px .4em black;
  padding: 5px;
  height: auto;
}
.beef {
  position: relative;
  color: black;
  float: left;
  padding: 0px;
  margin: 7px;
  top: 0;
  text-shadow: 1px 1px 1px #111111;
}

.beef:hover {
  background-color: black;
  color: white;
}
#div3 {
  background-color: #424242;
  box-shadow: -5px -5px .4em black;
  padding: 5px;
  height: auto;
}

.sushi {
  position: relative;
  color: black;
  float: left;
  padding: 0;
  margin: 7px;
  top: 0;
  text-shadow: 1px 1px 1px #111111;
}

.sushi:hover {
  background-color: black;
  color: white;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid white;
    width: 33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    border: 1px solid white;
    width: 50%;
  }

}

@media (min-width<=767px) {
  .col-sm-6 {
    float: left;
    border: 1px solid white;
    width: 50%;
  }

}
